.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.main h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
}

.main p {
    color: white;
    margin-top: 1.6rem;
    font-size: 1.6rem;
}

.form{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.form input {
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 8px;
    width: 400px;
    font-size: 1.4rem;
}

input::placeholder {
    color: white;
}

.form button {
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
}
.form button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 425px) {
    .main {
        margin-top: 1rem;
        text-align: center;
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .main h1 {
        font-size: 2.5rem;
    }
    .main p {
        font-size: 1.5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
    }
    .form input {
        width: 300px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .form button {
        padding: 0.8rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}